@import 'bootstrap';
@import '@fortawesome/fontawesome-free';
@import 'footer';
@import 'header';
@import 'users';
@import 'about';
@import 'books';

body {
  background-color: #eee9e1;
}

.navbar-brand {
  font-size: x-large;
  font-weight: bold;
}

.auth-btn {
  color: #f5f5f5;
}

.auth-btn:hover {
  background-color: #742d05;
  color: #f5f5f5;
}

.navbar-header {
  background-color: rgba(255, 255, 255, 0.171);
}

.nav-links {
  color: #ffffff;
}

.nav-links:hover {
  background-color: #742d05;
  color: #f5f5f5;
}

p {
  text-align: justify;
  text-indent: 1.7em;
}

.imd-book {
  height: 200px;
  width: 55%;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
