.form-group.user-form input,
.form-group.user-form select {
  margin: auto;
  width: 500px;
}

.date.optional select {
  margin-right: 10px;
}

.date.optional label {
  margin-right: 30px;
}

.use-avatar {
  margin: 30px auto;
  width: 500px;
}

.form-group.user-form label {
  margin-bottom: 0;
  margin-left: 310px;
  margin-top: 20px;
}

.form-group.down-btn {
  margin-left: 310px;
}

a .btn.btn-outline-danger {
  margin-left: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 450px;
}

.user-item {
  margin: 5px 0 5px 10px;
}

.nameing-user {
  display: inline-flex;
  font-size: 20px;
  width: 150px;
}

span .insert-user {
  font-size: 17px;
}

.nav-item-user a {
  margin-left: 10px;
}

.user-avatar {
  height: 100px;
  width: auto;
}

.user-avatar-show {
  margin: 30px 275px 0 0;
}

.show-user {
  height: 150px;
  width: auto;
}

.show-box {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
}

.user-index {
  margin-left: 140px;
  margin-right: 60px;
}

.user-index-size {
  margin: auto;
  width: 400px;
}
